.pdf-container {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  font-size: 10px;
}

p {
  margin: 0;
}

.title-row {
  text-align: center;
  border-top: 4px solid #333;
  padding-top: 20px;
}

.receipt-table {
  border: 1px solid #000;
  margin-bottom: 30px;
  margin-top: 30px;
}

.receipt-top {
  padding: 10px;
}

.receipt-top:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.receipt-info,
.receipt-date {
  width: 50%;
  float: left;
}

.receipt-date,
.receipt-top-extra {
  text-align: right;
}

.receipt-top-extra {
  padding: 0 10px 10px;
}

.receipt-table table {
  width: 100%;
  border-collapse: collapse;
}

.receipt-table table th {
  padding: 5px 10px;
  background: #f7f7f7;
}

.receipt-table table td {
  padding: 5px 10px;
  vertical-align: middle;
}

.receipt-table table tr {
  height: 55px;
}

.receipt-table table tr:nth-of-type(2n+2) {
  background: #f7f7f7;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.total-paid-td {
  border-top: 3px solid #000;
  border-bottom: 1px solid #ddd;
}

.total-paid-td.first {
  border-left: 1px solid #ddd;
}

.receipt-footer {
  margin-top: 40px;
  text-align: center;
  border-bottom: 4px solid #333;
  padding-bottom: 20px;
}
